fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
pypdf
pdfplumber
python-dotenv
google-generativeai
tiktoken
python-multipart
groq
sentence-transformers